@import url('./fira_code_v6.2/fira_code.css');

@font-face {
    font-family: "JetBrains Mono";
    src: url('./JetBrainsMono-Regular.woff2') format("woff2");

}
@font-face {
    font-family: "Open Sans";
    src: url('./Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format("truetype");
    
}
    

body {
    font-family: "JetBrains Mono", monospace;
    position: static;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    .title {
        color: #30528b;
    };
}

#dmbutton {
    content: url("./Button/Dark Mode.png");
    width: 36px;
    position: fixed;
    right: 10px;
    top: 12px;
}

.notice {

    position:fixed;
    width:200px;
    right: 50px;
    top:120px;
    h2 {
        text-align: center;
    }
    
    
}
.bar {
    position:fixed;
    top:0px;
    
    background-color: #1395EE;
    
    
    padding:20px;
    left:0px;
    right:0px;
    a {
        color: #eff2ff;
        text-decoration:none;
    }
    z-index: 4096;
    
}

.footer {
    position: static;
    margin-top: auto;
    padding: 20px;
    background-color: #1395EE;
    left: 0px;
    right: 0px;
    color: #eff2ff;
    z-index: 4096;
}
#homepage {
    position:relative;
    left:0px;
}
#github {
    position:relative;
    left:10px;
}
#project {
    position:relative;
    left:20px;
}
#portfolio {
    position: relative;
    left: 30px;
}
#docs {
    position:relative;
    left: 30px;
}
#reddit {
    position: relative;
    left:40px;
}
#twitter {
    position: relative;
    left:50px;
}
#darkmode {
    position: fixed;
    right:10px;
}


.main {
    position:relative;
    width:800px;
    margin: 0 0 0 50px;
    flex: 1;
    a {
        color: #25ce96;
    }
    
}
.title {
    font-family: "JetBrains Mono", monospace;
    position:relative;
    left:50%;
}

body.dark {
    background-color: #333333;
    color: white;
    .title {
        color: #2464d4
    }
    .bar {
        background-color: #0b588b;
        color: white
    }
    .footer {
        background-color: #0b588b;
        color: white
    }
    #dmbutton {
        content: url('./Button/Light Mode.png')
    }
}

.code-block {
    background-color: #4B4B4B;
    border: 1px solid #222;
    border-radius: 4px;
    padding: 15px;
    font-family: 'JetBrains Mono', monospace;
    white-space: pre;
    overflow-x: auto;
}



code, pre {
    font-family: 'JetBrains Mono', monospace;
}


