@font-face {
    font-family: "JetBrains Mono";
    src: url('./JetBrainsMono-Regular.woff2') format("woff2");

}
@font-face {
    font-family: "Open Sans";
    src: url('./Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format("truetype");
    
}

body {
    font-family: "JetBrains Mono", monospace;
    position: absolute;
    margin:0px;
    .title {
        color: #30528b;
    };
    color: black;
    
}





.notice {

    position:fixed;
    right: 100px;
    top:120px
    
}
.bar {
    position:fixed;
    top:0px;
    
    background-color: #1395EE;
    
    
    padding:20px;
    left:0px;
    right:0px;
    a {
        color: #eff2ff;
        text-decoration:none;
    }
    
}
#homepage {
    position:relative;
    left:0px;
}
#github {
    position:relative;
    left:10px;
}
#project {
    position:relative;
    left:20px;
}
#portfolio {
    position: relative;
    left: 30px;
}
#darkmode {
    position: fixed;
    right:10px;
}
.main {
    position:relative;
    top:100px;
    left:25px;
    a {
        color: #25ce96;
    }
}
.title {
    position:relative;
    left:50%;
}

body.dark {
    background-color: #333333;
    color: white;
    .title {
        color: #2464d4
    }
    .bar {
        background-color: #0b588b;
        color: white
    }
    
}
#dmbutton {
    width:36px;
    position:fixed;
    right: 10px;
    top: 12px;
}


